/* #f3b200 */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  border-bottom: 2px solid black;
}
.navbar-brand {
}

.profile-img-wrap {
  display: block;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  overflow: hidden;
  background: #e6e6e6;
}

.profile-img-wrap > .img-peview-wrap {
}

.profile-img-wrap > .img-peview-wrap img {
  /* min-width: 100%;
  max-width: 100%; */
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 5px;
}

.img-peview-wrap {
  background: #e6e6e6;
  width: 100%;
}

.img-peview-wrap > div {
  display: block;
  text-align: center;
}

.img-peview-wrap > div > img {
  width: 100%;
  height: auto;
}

.file-input-wrap {
  max-width: 80%;
}

.btns > button {
  width: 100%;
}
